@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&family=Montserrat:wght@400;600&display=swap");

html {
  /*colors*/
  --black: #744237;
  --white: #fdfdfd;
  --red: #997754;
  --color-dark: #997754;
  --color-light: #fdf1e0;

  --background-color: #fdf1e0;
  --font-color: #141414;
  --font-color-hover: #cf8800;
  --primary-color: #fdfdfd;
  --secondary-color: #ffeecd;
  --btn-color: #ffde59;
  --btn-color-hover: #edb545;
  --btn-color2: #ffffff;
  --btn-color-hover2: #141414;
}

/*--colors light
--background-color: #FDFDFD;
--font-color: #141414;
--font-color-hover: #CF8800;
--primary-color: #FDF1E0;
--secondary-color: #FFEECD;
--btn-color: #E6B75C;
--btn-color-hover: ##FFDE59;
--btn-color2: #FFFFFF;
--btn-color-hover2: #141414;
--image-banner: "";
*/

/*--colors dark
--background-color: #474540#;
--font-color: #FDFDFD;
--primary-color: #141414;
--secondary-color: #8D8D8D;
--btn-color: #A21524;
--btn-color-hover: #64030D;
--btn-color2: #141414;
--btn-color-hover2: #FFFFFF;
--image-banner: "";
*/

html[data-theme="dark"] {
  /*colors*/
  --black: #141414;
  --white: #fdfdfd;
  --red: #6a2424;
  --color-dark: #474540;
  --color-light: #dedede;

  --background-color: #474540;
  --font-color: #fdfdfd;
  --font-color-hover: #d4505e;
  --primary-color: #141414;
  --secondary-color: #8d8d8d;
  --btn-color: #a21524;
  --btn-color-hover: #64030d;
  --btn-color2: #141414;
  --btn-color-hover2: #ffffff;
}

* {
  /*fonts*/
  --font-title: "Cormorant Garamond", serif;
  --font-body: "Montserrat", sans-serif;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  /* 10 / 16 = 62.5% */
  font-size: 62.5%;
  /* 1rem = 10px */
}

body {
  font-family: var(--font-body), -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.map {
  width: 100%;
  height: 20rem;
  border: 0;
}

@media (min-width: 600px) {
  .map {
    height: 30rem;
  }
}

@media (min-width: 1024px) {
  .map {
    grid-column: 1/-1;
  }
}
